
BODY {
	background-color: lightgray;
	font-family: sans-serif;
	font-size: 9pt;
}

DIV.popup {
	background-color: #DFDFFF;
	min-width: 200px;
	border: 2px outset gray;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

TABLE.preview TR TD {
	font-family: monospace;
	border: 1px solid black;
	background-color: white;
}

TABLE.preview TR.skip TD {
	background-color: gray;
}

TABLE.import TH {
	text-align: left; 
	vertical-align: top;
	white-space: nowrap;
}

TABLE.import TD {
	vertical-align: top;
}

TABLE.popup {
	border: none;
	border-collapse: collapse;	
	width: 100%;
}

TABLE.popup TR.option:hover {
	background-color: lightgray;
}

TABLE.popup TH {
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}

TABLE.popup TD {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}

TABLE.popup TR.divider TD {
	padding: 0px;
	height: 7px;
	vertical-align: middle;
}

TABLE.popup TR.divider DIV {
	background-color: gray;
	height: 1px;
	border: none;
}

DIV.error {
	border: 1px solid white;
	background-color: red;
	color: white;
}

DIV#progressbar {
	width: 400px;
	height: 80px;
	background-color: gray;
	border: 1px solid black;
}

DIV#progressbar DIV#left {
	background-color: lightgreen;
	height: 60px;
}

DIV#progressbar DIV#right {
	background-color: white;
	height: 60px;
}

A	{
	text-decoration: none;
	font-weight: 600;
	color: black;
}

A:hover	{
	text-decoration: underline;
}

A.alive {
	color: darkgreen;
}

A.warning {
	color: #FF8C00;
}

A.dead {
	color: red;
}

A.unknown {
	color: #404040; 
}


